## Setup and Data Loading
Load required libraries, define approved courses, and query data from the PostgreSQL database.

In [13]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# create database connection
engine = create_engine("postgresql://cosea_user:CoSeaIndex@pgsql.dataconn.net:5432/cosea_db")
pd.set_option("display.max_columns", None)

# list of approved computer science course titles
approved_courses = [
    "advanced placement, computer science a",
    "advanced placement computer science principles",
    "ib computer science, year one",
    "ib computer science, year two",
    "computer science principles",
    "programming, games, apps and society",
    "web development",
    "embedded computing",
    "game design: animation and simulation",
    "introduction to cybersecurity",
    "advanced cybersecurity",
    "coding for fintech",
    "introduction to python"
]

# expanded list including additional courses for _2 logic
expanded_courses = approved_courses + [
    "introduction to software technology",
    "introduction to digital technology",
    "introduction to hardware technology"
]

# load tables from PostgreSQL
approved = pd.read_sql('SELECT * FROM "allhsgrades24"."tbl_approvedschools"', engine)
fte = pd.read_sql('SELECT * FROM "allhsgrades24"."fte2024-1_enroll-demog_sch"', engine)
sc_full = pd.read_sql('SELECT * FROM "allhsgrades24"."sc2024_l_comp_sci_crs_enroll_demog_sch"', engine)
sc = sc_full.copy()
cs_teacher = pd.read_sql('SELECT * FROM "allhsgrades24"."sc2024_l_comp_sci_crs_tch_roster_sch"', engine)

# print counts of records in each table
print(f"Approved Schools: {len(approved)}")
print(f"FTE: {len(fte)}")
print(f"Computer Science Courses: {len(sc)}")
print(f"Computer Science Teachers: {len(cs_teacher)}")

Approved Schools: 394
FTE: 2322
Computer Science Courses: 5820
Computer Science Teachers: 7440

## Data Formatting and Cleaning
Standardize ID formats, clean certificate IDs, and normalize course titles.

In [14]:
# standardize IDs and generate unique school ID
for df in [approved, fte, sc, cs_teacher, sc_full]:
    df["SYSTEM_ID"] = df["SYSTEM_ID"].astype(str).str.zfill(4)
    df["SCHOOL_ID"] = df["SCHOOL_ID"].astype(str).str.zfill(4)
    df["UNIQUESCHOOLID"] = df["SYSTEM_ID"] + df["SCHOOL_ID"]

# clean certificate IDs
cs_teacher["CERTIFICATE_ID"] = cs_teacher["CERTIFICATE_ID"].replace(["n/a", "N/A", ".", ""], pd.NA)
cs_teacher["CERTIFICATE_ID"] = pd.to_numeric(cs_teacher["CERTIFICATE_ID"], errors="coerce").astype("Int64")

# count certified teachers per school
certified = cs_teacher.groupby("UNIQUESCHOOLID")["CERTIFICATE_ID"].nunique().reset_index()
certified.rename(columns={"CERTIFICATE_ID": "Certified_Teachers"}, inplace=True)

# normalize course titles to lowercase
sc["COURSE_TITLE"] = sc["COURSE_TITLE"].astype(str).str.lower()
sc_full["COURSE_TITLE"] = sc_full["COURSE_TITLE"].astype(str).str.lower()

## Aggregate Enrollment and Demographics
Summarize CS course taker data and clean total enrollment data from FTE.

In [15]:
# aggregate CS enrollment by school for approved courses
sc_for_enrollment = sc[sc["COURSE_TITLE"].isin(expanded_courses)]
sc_agg = sc_for_enrollment.groupby("UNIQUESCHOOLID", as_index=False).agg({
    "COURSE_TAKER_CT": "sum",
    "Race: Asian": "sum",
    "Race: Black": "sum",
    "Race: White": "sum",
    "Ethnicity: Hispanic": "sum",
    "Female": "sum",
    "Male": "sum"
}).rename(columns={
    "COURSE_TAKER_CT": "CS_Enrollment",
    "Race: Asian": "CS_Asian",
    "Race: Black": "CS_Black",
    "Race: White": "CS_White",
    "Ethnicity: Hispanic": "CS_Hispanic",
    "Female": "CS_Female",
    "Male": "CS_Male"
})

# clean FTE values and demographics
fte["Total_Enrollment"] = pd.to_numeric(fte["Total Student Count"], errors="coerce")
for col in ["Race: Asian", "Race: Black", "Race: White", "Ethnicity: Hispanic", "Female", "Male"]:
    fte[col] = pd.to_numeric(fte[col], errors="coerce").fillna(0)

fte_clean = fte[[
    "UNIQUESCHOOLID", "Total_Enrollment",
    "Race: Asian", "Race: Black", "Race: White", "Ethnicity: Hispanic",
    "Female", "Male"
]].rename(columns={
    "Race: Asian": "Total_Asian",
    "Race: Black": "Total_Black",
    "Race: White": "Total_White",
    "Ethnicity: Hispanic": "Total_Hispanic",
    "Female": "Total_Female",
    "Male": "Total_Male"
})

## Merge All Data and Compute Representation Index (RI)
Join all datasets and compute the RI metric for each race/gender group.

In [16]:
# merge all sources
merged = pd.merge(approved, fte_clean, on="UNIQUESCHOOLID", how="left")
merged = pd.merge(merged, sc_agg, on="UNIQUESCHOOLID", how="left")
merged = pd.merge(merged, certified, on="UNIQUESCHOOLID", how="left")
merged = merged[merged["Total_Enrollment"] > 0]

# fill NA with zeros for CS fields
merged["CS_Enrollment"] = merged["CS_Enrollment"].fillna(0)
for col in ["CS_Asian", "CS_Black", "CS_White", "CS_Hispanic", "CS_Female", "CS_Male"]:
    merged[col] = merged[col].fillna(0)

# compute Representation Index (RI)
race_pairs = {
    "Asian": ("CS_Asian", "Total_Asian"),
    "Black": ("CS_Black", "Total_Black"),
    "Hispanic": ("CS_Hispanic", "Total_Hispanic"),
    "White": ("CS_White", "Total_White"),
    "Female": ("CS_Female", "Total_Female")
}

for race, (cs_col, total_col) in race_pairs.items():
    cs_share = np.where(merged["CS_Enrollment"] == 0, 0, merged[cs_col] / merged["CS_Enrollment"])
    school_share = np.where(merged["CS_Enrollment"] == 0, 0, merged[total_col] / merged["Total_Enrollment"])
    merged[f"RI_{race}"] = cs_share - school_share

# add schools from approved that were missing
missing_ids = set(approved["UNIQUESCHOOLID"]) - set(merged["UNIQUESCHOOLID"])
if missing_ids:
    print(f"appending {len(missing_ids)} schools missing from merged")
    extras = approved[approved["UNIQUESCHOOLID"].isin(missing_ids)].copy()
    extras["Total_Enrollment"] = 0
    extras["CS_Enrollment"] = 0
    for col in ["CS_Asian", "CS_Black", "CS_White", "CS_Hispanic", "CS_Female", "CS_Male",
                "Total_Asian", "Total_Black", "Total_White", "Total_Hispanic", "Total_Female", "Total_Male",
                "Certified_Teachers"]:
        extras[col] = 0
    for race in ["Asian", "Black", "Hispanic", "White", "Female"]:
        extras[f"RI_{race}"] = np.nan
    merged = pd.concat([merged, extras], ignore_index=True)

## Course-Level Logic (2-Digit)
Build course-level logic flags based on approval and certification.

In [17]:
cs_teacher["COURSE_TITLE"] = cs_teacher["COURSE_TITLE"].astype(str).str.lower()
cs_teacher["TEACHER_LAST_NAME"] = cs_teacher["TEACHER_LAST_NAME"].astype(str).str.lower()
virtual_teachers = ["software-based instruction", "gavs virtual teacher", "virtual school (non-gavs)"]
virtual_labels = [v.lower() for v in virtual_teachers]
cs_teacher["is_virtual"] = (
    cs_teacher["TEACHER_LAST_NAME"].isin(virtual_labels) |
    cs_teacher["TEACHER_LAST_NAME"].str.contains("de:", na=False)
)


course_merge = pd.merge(
    sc_full[["UNIQUESCHOOLID", "COURSE_NUMBER", "COURSE_TITLE"]],
    cs_teacher[["UNIQUESCHOOLID", "COURSE_NUMBER", "COURSE_TITLE", "CERTIFICATE_ID", "TEACHER_LAST_NAME", "is_virtual"]],
    on=["UNIQUESCHOOLID", "COURSE_NUMBER", "COURSE_TITLE"],
    how="outer"
).drop_duplicates()

course_merge["approved_flag"] = course_merge["COURSE_TITLE"].isin(approved_courses).astype(int)
course_merge["CERTIFICATE_ID"] = pd.to_numeric(course_merge["CERTIFICATE_ID"], errors="coerce")
course_merge["certified_flag"] = course_merge["CERTIFICATE_ID"].notna().astype(int)
course_merge["COURSE_LOGIC"] = course_merge["approved_flag"].astype(str) + course_merge["certified_flag"].astype(str)

course_output = course_merge[
    ["UNIQUESCHOOLID", "COURSE_NUMBER", "COURSE_TITLE", "approved_flag", "certified_flag", "COURSE_LOGIC", "CERTIFICATE_ID", "TEACHER_LAST_NAME", "is_virtual"]
]

course_output.to_sql("course_logic_2024", engine, schema="census", if_exists="replace", index=False)
print("updated census.course_logic_2024")

updated census.course_logic_2024

## School-Level Logic (3-Digit) and Final Export
Compute in-person, virtual, and extra teacher flags. Save the final output to PostgreSQL.

In [18]:
school_courses = course_output.copy()

# logic flags
in_person_cs = school_courses[(school_courses["approved_flag"] == 1) & (~school_courses["is_virtual"])]["UNIQUESCHOOLID"].unique()
virtual_cs = school_courses[(school_courses["approved_flag"] == 1) & (school_courses["is_virtual"])]["UNIQUESCHOOLID"].unique()
school_courses["Valid Course"] = school_courses["approved_flag"] == 1

def check_teacher_extra(group):
    return int(not group["Valid Course"].any())

extra_teachers = school_courses.groupby(["UNIQUESCHOOLID", "CERTIFICATE_ID"], group_keys=False).apply(
    check_teacher_extra, include_groups=False
).reset_index(name="Extra_Flag")
extra_certified_ids = extra_teachers[extra_teachers["Extra_Flag"] == 1]["UNIQUESCHOOLID"].unique()

# assign logic flags
merged["L1_in_person"] = merged["UNIQUESCHOOLID"].isin(in_person_cs).astype(int)
merged["L2_virtual"] = merged["UNIQUESCHOOLID"].isin(virtual_cs).astype(int)
merged["L3_extra"] = merged["UNIQUESCHOOLID"].isin(extra_certified_ids).astype(int)
merged["LOGIC_CLASS"] = merged["L1_in_person"].astype(str) + merged["L2_virtual"].astype(str) + merged["L3_extra"].astype(str)
merged.drop(columns=["L1_in_person", "L2_virtual", "L3_extra"], inplace=True)

print(merged["LOGIC_CLASS"].value_counts().sort_index())

# export
gadoe_output = merged[
    [
        "UNIQUESCHOOLID",
        "CS_Enrollment", "CS_Asian", "CS_Black", "CS_White", "CS_Hispanic", "CS_Female", "CS_Male",
        "Certified_Teachers",
        "RI_Asian", "RI_Black", "RI_Hispanic", "RI_White", "RI_Female",
        "LOGIC_CLASS"
    ]
]

gadoe_output.to_sql("gadoe2024_389", engine, schema="census", if_exists="replace", index=False)
print("updated census.gadoe2024_389 with LOGIC_CLASS")

LOGIC_CLASS
000    42
001    21
010    18
011    10
100    74
101    77
110    69
111    83
Name: count, dtype: int64
updated census.gadoe2024_389 with LOGIC_CLASS

In [19]:
# define expanded approved course list
expanded_courses = approved_courses + [
    "introduction to software technology",
    "introduction to digital technology",
    "introduction to hardware technology"
 ]

# reassign flags with expanded course list
course_merge["approved_flag_2"] = course_merge["COURSE_TITLE"].isin(expanded_courses).astype(int)
course_merge["certified_flag_2"] = course_merge["CERTIFICATE_ID"].notna().astype(int)
course_merge["COURSE_LOGIC_2"] = course_merge["approved_flag_2"].astype(str) + course_merge["certified_flag_2"].astype(str)

course_output_full = course_merge[[
    "UNIQUESCHOOLID",
    "COURSE_NUMBER",
    "COURSE_TITLE",
    "approved_flag",
    "certified_flag",
    "COURSE_LOGIC",
    "approved_flag_2",
    "certified_flag_2",
    "COURSE_LOGIC_2",
    "CERTIFICATE_ID",
    "TEACHER_LAST_NAME",
    "is_virtual"
 ]]

course_output_full.to_sql("course_logic_2024_389", engine, schema="census", if_exists="replace", index=False)
print("updated census.course_logic_2024_389 with both original and expanded Logic Class 2 columns (_2)")

school_courses_2 = course_merge.copy()
in_person_cs_2 = school_courses_2[
    (school_courses_2["approved_flag_2"] == 1) & (~school_courses_2["is_virtual"])
]["UNIQUESCHOOLID"].unique()

virtual_cs_2 = school_courses_2[
    (school_courses_2["approved_flag_2"] == 1) & (school_courses_2["is_virtual"])
]["UNIQUESCHOOLID"].unique()

school_courses_2["Valid Course 2"] = school_courses_2["approved_flag_2"] == 1

def check_teacher_extra_2(group):
    return int(not group["Valid Course 2"].any())

extra_teachers_2 = school_courses_2.groupby(["UNIQUESCHOOLID", "CERTIFICATE_ID"], group_keys=False).apply(
    check_teacher_extra_2, include_groups=False
).reset_index(name="Extra_Flag_2")

extra_certified_ids_2 = extra_teachers_2[extra_teachers_2["Extra_Flag_2"] == 1]["UNIQUESCHOOLID"].unique()

# assign logic class 2
merged["L1_in_person_2"] = merged["UNIQUESCHOOLID"].isin(in_person_cs_2).astype(int)
merged["L2_virtual_2"] = merged["UNIQUESCHOOLID"].isin(virtual_cs_2).astype(int)
merged["L3_extra_2"] = merged["UNIQUESCHOOLID"].isin(extra_certified_ids_2).astype(int)
merged["LOGIC_CLASS_2"] = (
    merged["L1_in_person_2"].astype(str) +
    merged["L2_virtual_2"].astype(str) +
    merged["L3_extra_2"].astype(str)
)

# clean up temp columns
merged.drop(columns=["L1_in_person_2", "L2_virtual_2", "L3_extra_2"], inplace=True)

# show distribution
print(merged["LOGIC_CLASS_2"].value_counts().sort_index())

# safely update output table
gadoe_output = gadoe_output.copy()
gadoe_output["LOGIC_CLASS_2"] = merged["LOGIC_CLASS_2"].values
gadoe_output.to_sql("gadoe2024_389", engine, schema="census", if_exists="replace", index=False)
print("updated census.gadoe2024_389 with LOGIC_CLASS_2")

updated census.course_logic_2024_389 with both original and expanded Logic Class 2 columns (_2)
LOGIC_CLASS_2
000     40
001      4
010     20
011      3
100    110
101     18
110    170
111     29
Name: count, dtype: int64
updated census.gadoe2024_389 with LOGIC_CLASS_2

## RI Tables based on Locale type

In [20]:
# load gadoe data and approvedschools with Locale
gadoe = pd.read_sql('SELECT * FROM "census"."gadoe2024_389"', engine)
approved = pd.read_sql('SELECT "UNIQUESCHOOLID", "Locale" FROM "allhsgrades24"."tbl_approvedschools"', engine)


# join locale into gadoe
gadoe = gadoe.merge(approved, on="UNIQUESCHOOLID", how="left")

# categorize RI values
def categorize_ri(val):
    if pd.isna(val):
        return "Missing"
    elif val > 0.05:
        return "Overrepresented"
    elif val < -0.05:
        return "Underrepresented"
    else:
        return "Parity"

# function to generate formatted summary table
def formatted_disparity_table(df, ri_col, race_label):
    df = df.copy()
    df["Category"] = df[ri_col].apply(categorize_ri)

    # build locale-wise summary
    summary = df.groupby("Locale").agg({
        "Category": [
            ("Overrepresentation (School Count)", lambda x: (x == "Overrepresented").sum()),
            ("Parity (School Count)", lambda x: (x == "Parity").sum()),
            ("Underrepresentation (School Count)", lambda x: (x == "Underrepresented").sum())
        ]
    })

    # flatten multi-index columns
    summary.columns = [col[1] if isinstance(col, tuple) else col for col in summary.columns]
    summary = summary.rename(columns={ri_col: "Overall Disparity (Mean Â± Std)"})
    summary = summary.reset_index()
    summary.insert(0, "Locale Type", summary.pop("Locale"))

    # compute total values
    total_row = {
        "Locale Type": "Total",
        "Overrepresentation (School Count)": (df["Category"] == "Overrepresented").sum(),
        "Parity (School Count)": (df["Category"] == "Parity").sum(),
        "Underrepresentation (School Count)": (df["Category"] == "Underrepresented").sum()
    }

    summary = pd.concat([summary, pd.DataFrame([total_row])], ignore_index=True)
    return summary

asian_table = formatted_disparity_table(gadoe, "RI_Asian", "Asian")
display(asian_table.style.set_caption("Asian"))

black_table = formatted_disparity_table(gadoe, "RI_Black", "Black")
display(black_table.style.set_caption("Black"))

hispanic_table = formatted_disparity_table(gadoe, "RI_Hispanic", "Hispanic")
display(hispanic_table.style.set_caption("Hispanic"))

white_table = formatted_disparity_table(gadoe, "RI_White", "White")
display(white_table.style.set_caption("White"))

## Add Lunch Data to tbl_approvedschools
Import lunch program data from CSV and add it to the approved schools table.

In [21]:
# Load lunch data CSV
lunch_csv_path = '/Users/linnerlek/Documents/nsf_cosea/tocepaperanalysis/sql/ccd_sch_033_2324_l_1a_073124.csv'
lunch_data = pd.read_csv(lunch_csv_path)

print(f"Loaded {len(lunch_data)} records from lunch data CSV")
print(f"Columns: {lunch_data.columns.tolist()}")

# Filter for Georgia schools with Education Unit Total
ga_lunch_base = lunch_data[
    (lunch_data['ST'] == 'GA') & 
    (lunch_data['TOTAL_INDICATOR'] == 'Education Unit Total')
].copy()

print(f"Georgia schools with Education Unit Total: {len(ga_lunch_base)}")

# Check unique DATA_GROUP values
print(f"Unique DATA_GROUP values: {ga_lunch_base['DATA_GROUP'].unique()}")

# Filter for Direct Certification (actual lunch participants)
ga_lunch_direct = ga_lunch_base[
    ga_lunch_base['DATA_GROUP'] == 'Direct Certification'
].copy()

# Filter for Free and Reduced-price Lunch Table (eligible students)
ga_lunch_eligible = ga_lunch_base[
    ga_lunch_base['DATA_GROUP'] == 'Free and Reduced-price Lunch Table'
].copy()

print(f"Georgia schools with Direct Certification: {len(ga_lunch_direct)}")
print(f"Georgia schools with Free and Reduced-price Lunch Table: {len(ga_lunch_eligible)}")

# Clean the ST_SCHID to create UNIQUESCHOOLID
def clean_school_id(st_schid):
    """Convert GA-741-0191 to 07410191"""
    if pd.isna(st_schid):
        return None
    # Remove GA- prefix and all non-numeric characters
    cleaned = st_schid.replace('GA-', '').replace('-', '').replace(' ', '')
    # Keep only numeric characters
    numeric_only = ''.join(c for c in cleaned if c.isdigit())
    # Pad with leading zero to make 8 digits
    return numeric_only.zfill(8)

# Process Direct Certification data (lunch_student_count)
ga_lunch_direct['UNIQUESCHOOLID_CLEAN'] = ga_lunch_direct['ST_SCHID'].apply(clean_school_id)
lunch_direct_aggregated = ga_lunch_direct.groupby(['UNIQUESCHOOLID_CLEAN', 'SCH_NAME'])['STUDENT_COUNT'].sum().reset_index()
lunch_direct_aggregated.rename(columns={'STUDENT_COUNT': 'lunch_student_count'}, inplace=True)

# Process Free and Reduced-price Lunch Table data (lunch_student_eligible)
ga_lunch_eligible['UNIQUESCHOOLID_CLEAN'] = ga_lunch_eligible['ST_SCHID'].apply(clean_school_id)
lunch_eligible_aggregated = ga_lunch_eligible.groupby(['UNIQUESCHOOLID_CLEAN', 'SCH_NAME'])['STUDENT_COUNT'].sum().reset_index()
lunch_eligible_aggregated.rename(columns={'STUDENT_COUNT': 'lunch_student_eligible'}, inplace=True)

# Merge both datasets
lunch_aggregated = pd.merge(
    lunch_direct_aggregated[['UNIQUESCHOOLID_CLEAN', 'lunch_student_count']], 
    lunch_eligible_aggregated[['UNIQUESCHOOLID_CLEAN', 'lunch_student_eligible']], 
    on='UNIQUESCHOOLID_CLEAN', 
    how='outer'
).fillna(0)

# Add school name back
school_names_lookup = ga_lunch_base.drop_duplicates('ST_SCHID')[['ST_SCHID', 'SCH_NAME']].copy()
school_names_lookup['UNIQUESCHOOLID_CLEAN'] = school_names_lookup['ST_SCHID'].apply(clean_school_id)
lunch_aggregated = pd.merge(
    lunch_aggregated,
    school_names_lookup[['UNIQUESCHOOLID_CLEAN', 'SCH_NAME']],
    on='UNIQUESCHOOLID_CLEAN',
    how='left'
)

print(f"Unique schools in lunch data: {len(lunch_aggregated)}")
print("Sample of cleaned data:")
print(lunch_aggregated.head())
print(f"\nSummary statistics:")
print(f"Direct Certification (lunch_student_count): mean={lunch_aggregated['lunch_student_count'].mean():.1f}, max={lunch_aggregated['lunch_student_count'].max()}")
print(f"Eligible (lunch_student_eligible): mean={lunch_aggregated['lunch_student_eligible'].mean():.1f}, max={lunch_aggregated['lunch_student_eligible'].max()}")

Loaded 468060 records from lunch data CSV
Columns: ['SCHOOL_YEAR', 'FIPST', 'STATENAME', 'ST', 'SCH_NAME', 'STATE_AGENCY_NO', 'UNION', 'ST_LEAID', 'LEAID', 'ST_SCHID', 'NCESSCH', 'SCHID', 'DATA_GROUP', 'LUNCH_PROGRAM', 'STUDENT_COUNT', 'TOTAL_INDICATOR', 'DMS_FLAG']
Georgia schools with Education Unit Total: 4626
Unique DATA_GROUP values: ['Free and Reduced-price Lunch Table' 'Direct Certification']
Georgia schools with Direct Certification: 2313
Georgia schools with Free and Reduced-price Lunch Table: 2313
Unique schools in lunch data: 2313
Sample of cleaned data:
  UNIQUESCHOOLID_CLEAN  lunch_student_count  lunch_student_eligible  \
0             06010103                382.0                   695.0
1             06010177                528.0                  1138.0
2             06010195                315.0                   615.0
3             06011050                123.0                   246.0
4             06015050                 35.0                    73.0

                            SCH_NAME
0         Appling County High School
1   Appling County Elementary School
2       Appling County Middle School
3         Altamaha Elementary School
4  Fourth District Elementary School

Summary statistics:
Direct Certification (lunch_student_count): mean=190.0, max=2007.0
Eligible (lunch_student_eligible): mean=483.9, max=4609.0

In [22]:
# Add both lunch_student_count and lunch_student_eligible columns to tbl_approvedschools if they don't exist
try:
    # Try to add both columns (will fail silently if they already exist)
    with engine.connect() as conn:
        conn.execute("""
            ALTER TABLE "allhsgrades24".tbl_approvedschools 
            ADD COLUMN IF NOT EXISTS lunch_student_count INTEGER,
            ADD COLUMN IF NOT EXISTS lunch_student_eligible INTEGER
        """)
        conn.commit()
    print("Added lunch_student_count and lunch_student_eligible columns to tbl_approvedschools")
except Exception as e:
    print(f"Columns may already exist: {e}")

# Load current approved schools data
current_approved = pd.read_sql('SELECT "UNIQUESCHOOLID", "SCHOOL_NAME" FROM "allhsgrades24"."tbl_approvedschools"', engine)
print(f"Current approved schools: {len(current_approved)}")

# Merge lunch data with approved schools
merged_lunch = pd.merge(
    current_approved, 
    lunch_aggregated[['UNIQUESCHOOLID_CLEAN', 'lunch_student_count', 'lunch_student_eligible']], 
    left_on='UNIQUESCHOOLID', 
    right_on='UNIQUESCHOOLID_CLEAN', 
    how='left'
)

# Count matches and misses
lunch_matches = merged_lunch['lunch_student_count'].notna().sum()
eligible_matches = merged_lunch['lunch_student_eligible'].notna().sum()
total = len(merged_lunch)

print(f"\nMatch Statistics:")
print(f"Total approved schools: {total}")
print(f"Schools with Direct Certification data: {lunch_matches}")
print(f"Schools with Eligibility data: {eligible_matches}")
print(f"Direct Certification match percentage: {(lunch_matches/total)*100:.2f}%")
print(f"Eligibility match percentage: {(eligible_matches/total)*100:.2f}%")

# Show sample of matched schools
print(f"\nSample of schools WITH both types of data:")
sample_matched = merged_lunch[(merged_lunch['lunch_student_count'].notna()) & (merged_lunch['lunch_student_eligible'].notna())].head()
print(sample_matched[['UNIQUESCHOOLID', 'SCHOOL_NAME', 'lunch_student_count', 'lunch_student_eligible']])

# Show sample of unmatched schools
print(f"\nSample of schools WITHOUT any lunch data:")
sample_unmatched = merged_lunch[(merged_lunch['lunch_student_count'].isna()) & (merged_lunch['lunch_student_eligible'].isna())].head()
print(sample_unmatched[['UNIQUESCHOOLID', 'SCHOOL_NAME']])

Columns may already exist: Not an executable object: '\n            ALTER TABLE "allhsgrades24".tbl_approvedschools \n            ADD COLUMN IF NOT EXISTS lunch_student_count INTEGER,\n            ADD COLUMN IF NOT EXISTS lunch_student_eligible INTEGER\n        '
Current approved schools: 394

Match Statistics:
Total approved schools: 394
Schools with Direct Certification data: 394
Schools with Eligibility data: 394
Direct Certification match percentage: 100.00%
Eligibility match percentage: 100.00%

Sample of schools WITH both types of data:
  UNIQUESCHOOLID               SCHOOL_NAME  lunch_student_count  \
0       06600203     Northview High School                 37.0
1       06600176      Banneker High School                662.0
2       06600119     Cambridge High School                 34.0
3       06600106        Milton High School                 72.0
4       06942060  Macon County High School                 98.0

   lunch_student_eligible
0                   246.0
1                  1786.0
2                   181.0
3                   350.0
4                   262.0

Sample of schools WITHOUT any lunch data:
Empty DataFrame
Columns: [UNIQUESCHOOLID, SCHOOL_NAME]
Index: []

In [23]:
# Update the database table with both lunch data columns using pandas approach
from sqlalchemy import text

# First, let's verify we can add both columns
try:
    with engine.connect() as conn:
        conn.execute(text("""
            ALTER TABLE allhsgrades24.tbl_approvedschools 
            ADD COLUMN IF NOT EXISTS lunch_student_count INTEGER,
            ADD COLUMN IF NOT EXISTS lunch_student_eligible INTEGER
        """))
        conn.commit()
    print("Columns added successfully")
except Exception as e:
    print(f"Columns likely already exist: {e}")

# Create a DataFrame with updates for both columns
updates_df = merged_lunch[
    (merged_lunch['lunch_student_count'].notna()) | (merged_lunch['lunch_student_eligible'].notna())
][['UNIQUESCHOOLID', 'lunch_student_count', 'lunch_student_eligible']].copy()

# Fill NaN values with 0 for the update
updates_df['lunch_student_count'] = updates_df['lunch_student_count'].fillna(0)
updates_df['lunch_student_eligible'] = updates_df['lunch_student_eligible'].fillna(0)

print(f"\nPreparing to update {len(updates_df)} schools")

# Use pandas to update in batches - more efficient approach
update_count = 0
batch_size = 50

for i in range(0, len(updates_df), batch_size):
    batch = updates_df.iloc[i:i+batch_size]
    
    # Create a series of WHEN-THEN statements for batch update of both columns
    lunch_when_statements = []
    eligible_when_statements = []
    school_ids = []
    
    for _, row in batch.iterrows():
        lunch_count = int(row['lunch_student_count']) if pd.notnull(row['lunch_student_count']) else 0
        eligible_count = int(row['lunch_student_eligible']) if pd.notnull(row['lunch_student_eligible']) else 0
        
        lunch_when_statements.append(f"WHEN '{row['UNIQUESCHOOLID']}' THEN {lunch_count}")
        eligible_when_statements.append(f"WHEN '{row['UNIQUESCHOOLID']}' THEN {eligible_count}")
        school_ids.append(f"'{row['UNIQUESCHOOLID']}'")
    
    # Create the batch update SQL for both columns
    sql_update = f"""
    UPDATE allhsgrades24.tbl_approvedschools 
    SET 
        lunch_student_count = CASE "UNIQUESCHOOLID"
            {' '.join(lunch_when_statements)}
            ELSE lunch_student_count
        END,
        lunch_student_eligible = CASE "UNIQUESCHOOLID"
            {' '.join(eligible_when_statements)}
            ELSE lunch_student_eligible
        END
    WHERE "UNIQUESCHOOLID" IN ({', '.join(school_ids)})
    """
    
    try:
        with engine.connect() as conn:
            result = conn.execute(text(sql_update))
            conn.commit()
            update_count += result.rowcount
            print(f"Batch {i//batch_size + 1}: Updated {result.rowcount} schools")
    except Exception as e:
        print(f"Error in batch {i//batch_size + 1}: {e}")

print(f"\nSuccessfully updated {update_count} schools with lunch and eligibility data")

# Verify the update
verification = pd.read_sql("""
    SELECT 
        COUNT(*) as total_schools,
        COUNT(lunch_student_count) as schools_with_lunch_data,
        COUNT(lunch_student_eligible) as schools_with_eligible_data,
        MIN(lunch_student_count) as min_lunch_count,
        MAX(lunch_student_count) as max_lunch_count,
        AVG(lunch_student_count) as avg_lunch_count,
        MIN(lunch_student_eligible) as min_eligible,
        MAX(lunch_student_eligible) as max_eligible,
        AVG(lunch_student_eligible) as avg_eligible
    FROM allhsgrades24.tbl_approvedschools
    WHERE lunch_student_count IS NOT NULL OR lunch_student_eligible IS NOT NULL
""", engine)

print(f"\nFinal verification:")
print(verification)

# Show comparison of top 10 schools by both metrics - Fixed ROUND function for PostgreSQL
comparison = pd.read_sql("""
    SELECT "UNIQUESCHOOLID", "SCHOOL_NAME", lunch_student_count, lunch_student_eligible, "Locale",
           CASE 
               WHEN lunch_student_eligible > 0 THEN ROUND(CAST((lunch_student_count * 100.0 / lunch_student_eligible) AS NUMERIC), 1)
               ELSE NULL 
           END as participation_rate_pct
    FROM allhsgrades24.tbl_approvedschools 
    WHERE lunch_student_count IS NOT NULL AND lunch_student_eligible IS NOT NULL
        AND (lunch_student_count > 0 OR lunch_student_eligible > 0)
    ORDER BY lunch_student_eligible DESC
    LIMIT 10
""", engine)

print(f"\nTop 10 schools by eligibility (with participation rates):")
print(comparison)

Columns added successfully

Preparing to update 394 schools
Batch 1: Updated 50 schools
Batch 2: Updated 50 schools
Batch 3: Updated 50 schools
Batch 4: Updated 50 schools
Batch 5: Updated 50 schools
Batch 6: Updated 50 schools
Batch 7: Updated 50 schools
Batch 8: Updated 44 schools

Successfully updated 394 schools with lunch and eligibility data

Final verification:
   total_schools  schools_with_lunch_data  schools_with_eligible_data  \
0            394                      394                         394

   min_lunch_count  max_lunch_count  avg_lunch_count  min_eligible  \
0                0              954       273.393401             0

   max_eligible  avg_eligible
0          2511    741.243655

Top 10 schools by eligibility (with participation rates):
  UNIQUESCHOOLID                 SCHOOL_NAME  lunch_student_count  \
0       06671050         Berkmar High School                  605
1       06332066         Osborne High School                  662
2       06670187     Meadowcreek High School                  656
3       06334066     Pebblebrook High School                  697
4       06671814       Discovery High School                  515
5       07920273        Valdosta High School                  871
6       07070173          Newton High School                  600
7       06670176        Parkview High School                  428
8       06672558  South Gwinnett High School                  605
9       06670101         Grayson High School                  484

   lunch_student_eligible  Locale  participation_rate_pct
0                    2511  Suburb                    24.1
1                    2362  Suburb                    28.0
2                    2272  Suburb                    28.9
3                    2114  Suburb                    33.0
4                    2110  Suburb                    24.4
5                    2102   Rural                    41.4
6                    1936  Suburb                    31.0
7                    1920  Suburb                    22.3
8                    1913  Suburb                    31.6
9                    1894  Suburb                    25.6

In [24]:
# Check distribution of both lunch program metrics
lunch_summary = pd.read_sql("""
    SELECT 
        COUNT(*) as total_schools,
        COUNT(CASE WHEN lunch_student_count = 0 THEN 1 END) as schools_with_zero_participants,
        COUNT(CASE WHEN lunch_student_count > 0 THEN 1 END) as schools_with_participants,
        COUNT(CASE WHEN lunch_student_count IS NULL THEN 1 END) as schools_no_participant_data,
        COUNT(CASE WHEN lunch_student_eligible = 0 THEN 1 END) as schools_with_zero_eligible,
        COUNT(CASE WHEN lunch_student_eligible > 0 THEN 1 END) as schools_with_eligible,
        COUNT(CASE WHEN lunch_student_eligible IS NULL THEN 1 END) as schools_no_eligible_data
    FROM allhsgrades24.tbl_approvedschools
""", engine)

print("Lunch Program Data Distribution:")
print(lunch_summary)

# Show schools with 0 participants but eligible students (potential underparticipation)
underparticipation = pd.read_sql("""
    SELECT "UNIQUESCHOOLID", "SCHOOL_NAME", lunch_student_count, lunch_student_eligible, "Locale", "SYSTEM_NAME"
    FROM allhsgrades24.tbl_approvedschools 
    WHERE lunch_student_count = 0 AND lunch_student_eligible > 0
    ORDER BY lunch_student_eligible DESC
""", engine)

print(f"\nSchools with 0 participants but eligible students ({len(underparticipation)} schools):")
if len(underparticipation) > 0:
    print(underparticipation)
else:
    print("No schools found with this pattern")

# Distribution comparison
participation_distribution = pd.read_sql("""
    SELECT 
        CASE 
            WHEN lunch_student_count = 0 THEN '0 participants'
            WHEN lunch_student_count BETWEEN 1 AND 100 THEN '1-100 participants'
            WHEN lunch_student_count BETWEEN 101 AND 500 THEN '101-500 participants'
            WHEN lunch_student_count BETWEEN 501 AND 1000 THEN '501-1000 participants'
            WHEN lunch_student_count > 1000 THEN '1000+ participants'
            ELSE 'No participant data'
        END as participant_range,
        CASE 
            WHEN lunch_student_eligible = 0 THEN '0 eligible'
            WHEN lunch_student_eligible BETWEEN 1 AND 100 THEN '1-100 eligible'
            WHEN lunch_student_eligible BETWEEN 101 AND 500 THEN '101-500 eligible'
            WHEN lunch_student_eligible BETWEEN 501 AND 1000 THEN '501-1000 eligible'
            WHEN lunch_student_eligible > 1000 THEN '1000+ eligible'
            ELSE 'No eligible data'
        END as eligible_range,
        COUNT(*) as school_count
    FROM allhsgrades24.tbl_approvedschools
    GROUP BY 
        CASE 
            WHEN lunch_student_count = 0 THEN '0 participants'
            WHEN lunch_student_count BETWEEN 1 AND 100 THEN '1-100 participants'
            WHEN lunch_student_count BETWEEN 101 AND 500 THEN '101-500 participants'
            WHEN lunch_student_count BETWEEN 501 AND 1000 THEN '501-1000 participants'
            WHEN lunch_student_count > 1000 THEN '1000+ participants'
            ELSE 'No participant data'
        END,
        CASE 
            WHEN lunch_student_eligible = 0 THEN '0 eligible'
            WHEN lunch_student_eligible BETWEEN 1 AND 100 THEN '1-100 eligible'
            WHEN lunch_student_eligible BETWEEN 101 AND 500 THEN '101-500 eligible'
            WHEN lunch_student_eligible BETWEEN 501 AND 1000 THEN '501-1000 eligible'
            WHEN lunch_student_eligible > 1000 THEN '1000+ eligible'
            ELSE 'No eligible data'
        END
    ORDER BY school_count DESC
""", engine)

print(f"\nParticipant vs Eligible Distribution (showing top combinations):")
print(participation_distribution.head(15))

# Calculate participation rates - Fixed ROUND function for PostgreSQL
participation_rates = pd.read_sql("""
    SELECT 
        "UNIQUESCHOOLID", 
        "SCHOOL_NAME", 
        lunch_student_count as participants, 
        lunch_student_eligible,
        "Locale",
        CASE 
            WHEN lunch_student_eligible > 0 THEN ROUND(CAST((lunch_student_count * 100.0 / lunch_student_eligible) AS NUMERIC), 1)
            ELSE NULL 
        END as participation_rate_pct
    FROM allhsgrades24.tbl_approvedschools 
    WHERE lunch_student_count IS NOT NULL AND lunch_student_eligible IS NOT NULL AND lunch_student_eligible > 0
    ORDER BY participation_rate_pct DESC NULLS LAST
    LIMIT 20
""", engine)

print(f"\nTop 20 schools by participation rate (participants/eligible):")
print(participation_rates)

Lunch Program Data Distribution:
   total_schools  schools_with_zero_participants  schools_with_participants  \
0            394                               1                        393

   schools_no_participant_data  schools_with_zero_eligible  \
0                            0                           1

   schools_with_eligible  schools_no_eligible_data
0                    393                         0

Schools with 0 participants but eligible students (0 schools):
No schools found with this pattern

Participant vs Eligible Distribution (showing top combinations):
       participant_range     eligible_range  school_count
0   101-500 participants  501-1000 eligible           160
1   101-500 participants   101-500 eligible            67
2     1-100 participants   101-500 eligible            53
3   101-500 participants     1000+ eligible            50
4  501-1000 participants     1000+ eligible            43
5     1-100 participants     1-100 eligible            16
6     1-100 participants  501-1000 eligible             3
7  501-1000 participants  501-1000 eligible             1
8         0 participants         0 eligible             1

Top 20 schools by participation rate (participants/eligible):
   UNIQUESCHOOLID                     SCHOOL_NAME  participants  \
0        06390193     Crawford County High School           297
1        06190113      Calhoun County High School           135
2        07430201       Twiggs County High School           166
3        07423050       Turner County High School           261
4        07733050             Decatur High School           280
5        06290104        Classic City High School            29
6        06210101             Metter High School            238
7        06314058              Morrow High School           954
8        07520108      Webster County High School            29
9        07480195         Ware County High School           943
10       06131050     Brantley County High School           334
11       06810196    Jefferson County High School           316
12       06110204             Rutland High School           193
13       07280201      Stewart County High School            60
14       06311056           Jonesboro High School           669
15       06311054         Forest Park High School           785
16       07300190  Central Elementary/High School           233
17       07162050        Hawkinsville High School           140
18       06542050             Claxton High School           190
19       06110386           Southwest High School           311

    lunch_student_eligible  Locale  participation_rate_pct
0                      290   Rural                   102.4
1                      135   Rural                   100.0
2                      166   Rural                   100.0
3                      300    Town                    87.0
4                      330  Suburb                    84.8
5                       36    City                    80.6
6                      327   Rural                    72.8
7                     1328  Suburb                    71.8
8                       41   Rural                    70.7
9                     1360    Town                    69.3
10                     490   Rural                    68.2
11                     477   Rural                    66.2
12                     311    City                    62.1
13                      97   Rural                    61.9
14                    1092  Suburb                    61.3
15                    1284  Suburb                    61.1
16                     390   Rural                    59.7
17                     236    Town                    59.3
18                     323   Rural                    58.8
19                     530    City                    58.7

In [25]:
# Remove the old 'eligible' column if it exists
from sqlalchemy import text

try:
    with engine.connect() as conn:
        conn.execute(text("""
            ALTER TABLE allhsgrades24.tbl_approvedschools 
            DROP COLUMN IF EXISTS eligible
        """))
        conn.commit()
    print("Successfully removed old 'eligible' column from tbl_approvedschools")
except Exception as e:
    print(f"Error removing column (may not exist): {e}")

# Verify the current columns in the table
current_columns = pd.read_sql("""
    SELECT column_name 
    FROM information_schema.columns 
    WHERE table_name = 'tbl_approvedschools' 
        AND table_schema = 'allhsgrades24'
        AND column_name LIKE '%lunch%'
    ORDER BY column_name
""", engine)

print("\nCurrent lunch-related columns in tbl_approvedschools:")
for col in current_columns['column_name']:
    print(f"  - {col}")

Successfully removed old 'eligible' column from tbl_approvedschools

TypeError: sqlalchemy.cyextension.immutabledict.immutabledict is not a sequence